In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Street Smarts

## Data

#### Orignal data source found [here](https://www.fueleconomy.gov/feg/download.shtml) (fueleconomy.gov)

#### Data Dicitonary found [here](https://www.fueleconomy.gov/feg/ws/index.shtml#vehicle)

## Evaluation Data (potential)

Even though a dedicated Co2 column doesnt exist until 2013, we can still have access to over [3 million](https://www.cars.com/for-sale/searchresults.action/?page=1&perPage=20&rd=99999&searchSource=GN_REFINEMENT&sort=relevance&yrId=47272%2C51683%2C56007%2C58487%2C30031936%2C35797618%2C36362520%2C36620293&zc=98118) listings using cars.com alone, creating a substantial evaluation set. Cars.com has an API found here https://developer.cars.com/apis

In [5]:
# Data from EPA includes all vehicles from 

url = "./data/vehicles.csv"
df = pd.read_csv(url)
print(f"The shape of the data: {df.shape}")
print(df.columns)

The shape of the data: (42230, 83)
Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

/Users/mph/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# Years included and their counts
df["year"].value_counts()

1984    1964
1985    1701
2018    1344
2019    1335
2017    1293
2015    1283
2016    1262
1987    1247
2014    1225
1986    1210
2020    1204
2008    1187
2013    1184
2009    1184
2005    1166
1989    1153
2012    1152
1991    1132
2011    1130
1988    1130
2007    1126
2004    1122
1992    1121
2010    1109
2006    1104
1993    1093
1990    1078
2003    1044
1994     982
2002     975
1995     967
2001     911
1999     852
2000     840
1998     812
1996     773
1997     762
2021      73
Name: year, dtype: int64

In [ ]:
df.head()

   barrels08  barrelsA08  charge120  ...  phevCity  phevHwy  phevComb
0  15.695714         0.0        0.0  ...         0        0         0
1  29.964545         0.0        0.0  ...         0        0         0
2  12.207778         0.0        0.0  ...         0        0         0
3  29.964545         0.0        0.0  ...         0        0         0
4  17.347895         0.0        0.0  ...         0        0         0

[5 rows x 83 columns]

In [ ]:
df.tail()

       barrels08  barrelsA08  charge120  ...  phevCity  phevHwy  phevComb
42225  14.982273         0.0        0.0  ...         0        0         0
42226  14.330870         0.0        0.0  ...         0        0         0
42227  15.695714         0.0        0.0  ...         0        0         0
42228  15.695714         0.0        0.0  ...         0        0         0
42229  18.311667         0.0        0.0  ...         0        0         0

[5 rows x 83 columns]

In [ ]:
# Find NaN
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42230 entries, 0 to 42229
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        42230 non-null  float64
 1   barrelsA08       42230 non-null  float64
 2   charge120        42230 non-null  float64
 3   charge240        42230 non-null  float64
 4   city08           42230 non-null  int64
 5   city08U          42230 non-null  float64
 6   cityA08          42230 non-null  int64
 7   cityA08U         42230 non-null  float64
 8   cityCD           42230 non-null  float64
 9   cityE            42230 non-null  float64
 10  cityUF           42230 non-null  float64
 11  co2              42230 non-null  int64
 12  co2A             42230 non-null  int64
 13  co2TailpipeAGpm  42230 non-null  float64
 14  co2TailpipeGpm   42230 non-null  float64
 15  comb08           42230 non-null  int64
 16  comb08U          42230 non-null  float64
 17  combA08          42230 non-null  int64
 18  combA08U         42230 non-null  float64
 19  combE            42230 non-null  float64
 20  combinedCD       42230 non-null  float64
 21  combinedUF       42230 non-null  float64
 22  cylinders        41990 non-null  float64
 23  displ            41992 non-null  float64
 24  drive            41041 non-null  object
 25  engId            42230 non-null  int64
 26  eng_dscr         25898 non-null  object
 27  feScore          42230 non-null  int64
 28  fuelCost08       42230 non-null  int64
 29  fuelCostA08      42230 non-null  int64
 30  fuelType         42230 non-null  object
 31  fuelType1        42230 non-null  object
 32  ghgScore         42230 non-null  int64
 33  ghgScoreA        42230 non-null  int64
 34  highway08        42230 non-null  int64
 35  highway08U       42230 non-null  float64
 36  highwayA08       42230 non-null  int64
 37  highwayA08U      42230 non-null  float64
 38  highwayCD        42230 non-null  float64
 39  highwayE         42230 non-null  float64
 40  highwayUF        42230 non-null  float64
 41  hlv              42230 non-null  int64
 42  hpv              42230 non-null  int64
 43  id               42230 non-null  int64
 44  lv2              42230 non-null  int64
 45  lv4              42230 non-null  int64
 46  make             42230 non-null  object
 47  model            42230 non-null  object
 48  mpgData          42230 non-null  object
 49  phevBlended      42230 non-null  bool
 50  pv2              42230 non-null  int64
 51  pv4              42230 non-null  int64
 52  range            42230 non-null  int64
 53  rangeCity        42230 non-null  float64
 54  rangeCityA       42230 non-null  float64
 55  rangeHwy         42230 non-null  float64
 56  rangeHwyA        42230 non-null  float64
 57  trany            42219 non-null  object
 58  UCity            42230 non-null  float64
 59  UCityA           42230 non-null  float64
 60  UHighway         42230 non-null  float64
 61  UHighwayA        42230 non-null  float64
 62  VClass           42230 non-null  object
 63  year             42230 non-null  int64
 64  youSaveSpend     42230 non-null  int64
 65  guzzler          2483 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         7442 non-null   object
 68  sCharger         878 non-null    object
 69  atvType          3762 non-null   object
 70  fuelType2        1673 non-null   object
 71  rangeA           1668 non-null   object
 72  evMotor          1009 non-null   object
 73  mfrCode          11412 non-null  object
 74  c240Dscr         101 non-null    object
 75  charge240b       42230 non-null  float64
 76  c240bDscr        95 non-null     object
 77  createdOn        42230 non-null  object
 78  modifiedOn       42230 non-null  object
 79  startStop        10526 non-null  object
 80  phevCity         42230 non-null  int64
 81  phevHwy          42230 non-null  int64
 82  phevComb         42230 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 26.5+ MB

### Numerics

"co2" column looks to be filled with -1 values which im assuming was a placeholder for NaN. I'm assuming there were some years where CO2 was not recorded due to global warming not being a huge concern during those times (pre 2000)

In [ ]:
df.describe()

          barrels08    barrelsA08  ...       phevHwy      phevComb
count  42230.000000  42230.000000  ...  42230.000000  42230.000000
mean      17.208441      0.221610  ...      0.192896      0.191191
std        4.649507      1.142513  ...      3.127795      3.166686
min        0.060000      0.000000  ...      0.000000      0.000000
25%       14.330870      0.000000  ...      0.000000      0.000000
50%       16.480500      0.000000  ...      0.000000      0.000000
75%       19.388824      0.000000  ...      0.000000      0.000000
max       47.087143     18.311667  ...     81.000000     88.000000

[8 rows x 59 columns]

### Categoricals

In [ ]:
df.describe(exclude="number")

                    drive eng_dscr  ...                    modifiedOn startStop
count               41041    25898  ...                         42230     10526
unique                  7      560  ...                           176         2
top     Front-Wheel Drive    (FFS)  ...  Tue Jan 01 00:00:00 EST 2013         N
freq                14515     8827  ...                         29343      6675

[4 rows x 24 columns]

### Find where co2 feature equals -1, and how many

Seeing that there are ~31,000 columns where co2 equals one, it becomes a problem if we are able to find out how to calculate co2 for these older vehicles

In [ ]:
# Rows where co2 equals -1
df[df["co2"] == -1].shape

(31954, 83)

In [ ]:
# Rows where data doesnt equal -1
df[df["co2"] != -1].shape

(10276, 83)

In [ ]:
# Are these Electric Vehicles?
df[df["co2"] == 0].shape

(237, 83)